.box{
    height: 60vh;
    width: auto;
    background-image: linear-gradient(180deg, red, yellow); 
    
}
.box-div{
    position: relative;
    text-align: center;
    top:40%;   
    color:black;
}